.home-container {
  text-align: center;
  margin-top: 50px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

button img {
  width: 100px;
  height: auto;
  transition: transform 0.3s;
}

button img:hover {
  transform: scale(1.1);
}
